<div class="to-do-home">
    <app-header></app-header>
    <div class="content">
        <div class="main-image">
            <img class="banner" src="assets/banner.png" />
            <span class="main-text">Seus ToDo's na palma da mão de forma descomplicada!</span>
            <img class="main-image" src="assets/phone-hand.png" />
        </div>

        <div class="about-us">
            <div class="ui grid container stackable">
                <div class="row center aligned">
                    <div class="center floated sixteen wide column">
                        <span class="title">Sobre nós</span>
                    </div>
                </div>
                <div class="row center aligned">
                    <div class="how-are sixteen wide column">
                        Com objetivo de facilitar a sua vida, desenvolvemos uma aplicação simples e fácil de ser utilizada.
                        Com ela você pode:
                        <ul>
                            <li>Criar ToDo's;</li>
                            <li>Criar itens dentro dos ToDo's (Como se fossem um passo à passo);</li>
                            <li>Compartilhar ToDo's com outras pessoas;</li>
                            <li>Permitir que outros editem suas ToDo's;</li>
                            <li>E muito mais!</li>
                        </ul>
                        Veja abaixo como é simples criar uma ToDo's, e compartilha-lá com outros:
                        Após realizar o login em nossa plataforma, clique no icone de mais no canto da página para criar uma lista:
                        <img src="assets/print-1.png" />
                        <img src="assets/print-2.png" /><br/>
                        Você será então direcionado para a página de edição da lista, onde poderá incluir itens na lista e agrupa-los:
                        <img src="assets/print-3.png" />
                        <img src="assets/print-4.png" />
                        <img src="assets/print-5.png" />
                        Ao voltar para a listagem, você verá as opções para editar as listas já existentes e compartilha-lás por e-mail.
                        <img src="assets/print-6.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-footer></app-footer>
</div>

