<div class="to-do-home">
    <app-header></app-header>
    <div class="content">
        <div class="main-image">
            <img class="banner" src="assets/banner.png" />
            <span class="main-text">Suas tarefas na palma da mão de forma descomplicada!</span>
            <img class="main-image" src="assets/phone-hand.png" />
        </div>

        <div class="about-us">
            <div class="ui grid container stackable">
                <div class="row center aligned">
                    <div class="center floated sixteen wide column">
                        <span class="title">Sobre nós</span>
                    </div>
                </div>
                <div class="row">
                    <div class="how-are eight wide column">
                        Com objetivo de facilitar a sua vida, desenvolvemos uma aplicação simples e fácil de ser utilizada.
                        Com ela você pode:
                        <ul>
                            <li>Criar tarefas;</li>
                            <li>Criar itens dentro das tarefas (Como se fossem um passo à passo);</li>
                            <li>Compartilhar tarefas com outras pessoas;</li>
                            <li>Permitir que outros editem suas tarefas;</li>
                            <li>E muito mais!</li>
                        </ul>
                    </div>
                    <div class="how-are eight wide column">
                        Veja abaixo como é simples criar uma tarefa, e compartilha-lá com outros:
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-footer></app-footer>
</div>

