<div class="header">
    <div class="ui grid container stackable">
        <div class="row">
            <div class="logo two wide column">
                <a [routerLink]="['/']">ToDo</a>
            </div>
            <div class="links right floated five wide column">
                <div *ngIf="showLinks" class="item">
                    <a (click)="scrollToAbout()">Sobre</a>
                </div>
                <div *ngIf="!isAuthenticated" class="item">
                    <a (click)="clickLogin()">Entrar</a>
                </div>
                <div *ngIf="!isAuthenticated" class="item">
                    <a (click)="clickRegister()">Cadastre-se</a>
                </div>
                <div *ngIf="isAuthenticated" class="item">
                    <a [routerLink]="['/dashboard']">Meus ToDo's</a>
                </div>
                <div *ngIf="isAuthenticated" class="item logout" (click)="logout()">
                    <a>Sair</a>
                    <i class="sign out alternate icon"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui modal tiny modal-login">
    <i class="icon close"></i>  
    <div class="header">
        <span>Entrar</span>
    </div>
    <div class="content scrolling">
        <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
            <div class="container-form" >
                <div class="container-field email">
                    <label for="name">E-mail*</label>
                    <input placeholder="E-mail" 
                    formControlName="email"
                    #email/>
                    <div *ngIf="loginControl.email.errors && (loginControl.email.dirty || loginControl.email.touched)" class="invalid-feedback">
                        <span *ngIf="loginControl.email.errors.required">Campo Obrigatório</span>
                        <span *ngIf="loginControl.email.errors.pattern">Informe um e-mail válido</span>
                    </div>
                </div>

                <div class="container-field password">
                    <label for="password">Senha*</label>
                    <input placeholder="Senha" 
                    formControlName="password"
                    type="password"
                    #password/>
                    <div *ngIf="loginControl.password.errors && (loginControl.password.dirty || loginControl.password.touched)" class="invalid-feedback">
                        <span *ngIf="loginControl.password.errors.required">Campo Obrigatório</span>
                    </div>
                </div>

                <button class="btn-login" type="button" type="submit" [disabled]="!this.loginForm.valid">Entrar</button>
            </div>
        </form>
    </div>
</div>

<div class="ui modal tiny modal-register">
    <i class="icon close"></i>  
    <div class="header">
        <span>Cadastre-se</span>
    </div>
    <div class="content scrolling">
        <form [formGroup]="registerForm" (ngSubmit)="submitRegister()">
            <div class="container-form">
                <div class="container-field name">
                    <label for="name">Nome*</label>
                    <input placeholder="Nome" 
                    formControlName="name"
                    #name/>
                    <div *ngIf="registerControl.name.errors && (registerControl.name.dirty || registerControl.name.touched)" class="invalid-feedback">
                        <span *ngIf="registerControl.name.errors.required">Campo Obrigatório</span>
                    </div>
                </div>

                <div class="container-field email">
                    <label for="email">E-mail*</label>
                    <input placeholder="E-mail" 
                    formControlName="email"
                    #email/>
                    <div *ngIf="registerControl.email.errors && (registerControl.email.dirty || registerControl.email.touched)" class="invalid-feedback">
                        <span *ngIf="registerControl.email.errors.required">Campo Obrigatório</span>
                        <span *ngIf="registerControl.email.errors.pattern">Informe um e-mail válido</span>
                    </div>
                </div>

                <div class="container-field password">
                    <label for="password">Senha*</label>
                    <input placeholder="Senha" 
                    formControlName="password"
                    type="password"
                    #password/>
                    <div *ngIf="registerControl.password.errors && (registerControl.password.dirty || registerControl.password.touched)" class="invalid-feedback">
                        <span *ngIf="registerControl.password.errors.required">Campo Obrigatório</span>
                    </div>
                </div>

                <div class="container-field confirmPassword">
                    <label for="confirmPassword">Confirme sua Senha*</label>
                    <input placeholder="Confirme sua Senha" 
                    formControlName="confirmPassword"
                    type="password"
                    #confirmPassword/>
                    <div *ngIf="registerControl.confirmPassword.errors && (registerControl.confirmPassword.dirty || registerControl.confirmPassword.touched)" class="invalid-feedback">
                        <span *ngIf="registerControl.confirmPassword.errors.required">Campo Obrigatório</span>
                    </div>
                </div>
                <div *ngIf="((registerControl.confirmPassword.dirty || registerControl.confirmPassword.touched)) && ((registerControl.password.dirty || registerControl.password.touched))" class="invalid-feedback">
                    <span *ngIf="registerControl.confirmPassword.value != registerControl.password.value">As senhas são diferentes</span>
                </div>

                <button class="btn-login" type="button" type="submit" [disabled]="!this.registerForm.valid">Quero me cadastrar</button>
            </div>
        </form>
    </div>
</div>