.to-do-edit{
    .content{
        .title-to-do{
            padding: var(--space-xl);
            span{
                font-size: var(--font-lg);
                font-weight: var(--font-bold);
            }
        }

        .item{
            border: 1px solid var(--color-light-gray);
            border-radius: 5px;
            width: 100%;
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            transition: all 0.3s cubic-bezier(.25,.8,.25,1);
            display: flex;
            flex-direction: row;
            .content{
                width: 90%;
                .title{
                    font-size: 16px;
                    font-weight: var(--font-bold);
                    padding: var(--space-sm);
                }

                .description{
                    padding: var(--space-sm);
                }

                .status{
                    padding: var(--space-sm);
                    font-weight: var(--font-bold);
                    span{
                        &.done{
                            color: var(--color-green);
                        }
                        &.not-done{
                            color: var(--color-red);
                        }
                    }
                }
            }
            .action{
                width: 10%;
                border-left: 1px solid var(--color-light-gray);
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                flex-direction: column;
                i{
                    margin: 0;
                    font-size: 20px;
                    cursor: pointer;
                }
            }
        }
    }
}

::ng-deep body {

    &.tour-start {
        height: initial;
    }

    footer {
        &.shepherd-footer {
            justify-content: space-between;
            margin: var(--space-md) 0 0;
        }
    }

    .ngx-dnd-item {
        background-color: #ffffff;
        font-weight: bold;
        text-align: left;
        position: relative;
        cursor: default;
        display: flex;
        align-items: center;
        border: 1px solid transparent;
        transition: opacity 0.4s ease-in-out;
        flex-direction: column;

        &.gu-mirror {
            filter: alpha(opacity = 80);
            margin: 0;
            opacity: .8;
            position: fixed;
            z-index: 9999;
        }

        &.gu-transit {
            filter: alpha(opacity = 20);
            opacity: 0.2;
        }   
    }

    .gu-hide {
        display: none;
    }
      
    &.gu-unselectable {
        user-select: none;
    }
    
}


::ng-deep #to-do-edit {
    font-family: var(--font-name);

    form {
        margin-top: var(--space-md);
        height: 100%;
    }

    .drag-container {
        height: 100%;
        width: 100%;
        .ngx-dnd-container {
            &.gu-empty {
                background-color: transparent;
                margin: 0;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                border: 1px dashed var(--color-primary);
                padding: var(--space-sm);
                border-radius: calc(var(--space-sm) - 0.2rem);
                margin-top: var(--space-sm);

                &:before {
                    content: "Crie seus itens";
                    font-weight: 600;
                    font-weight: 600;
                    font-size: var(--font-lg);
                    margin-bottom: var(--space-sm);
                }
                &:after {
                    content: "Clique no rodapé no canto para criar o primeiro item.";
                }
            }

            .ngx-dnd-item {
                ngx-dnd-container{
                    width: 100%;
                }
                .ngx-dnd-container {
                    width: 100%;
                    &.gu-empty {
                        &:before {
                            display: none;
                        }
                        &:after {
                            content: "Arraste aqui para vincular um item a este.";
                            font-weight: normal;
                            color: var(--color-primary);
                        }
                    }
                }
            }
        }
    }

    .ngx-dnd-container {
        display: flex;
        flex-direction: column;
        border: 0;
        background-color: transparent;
        padding: 0;
        margin: 0;
        height: 100%;

        .gu-unselectable &,
        &.gu-over,
        &.gu-over .ngx-dnd-container {
            border: 1px dashed var(--color-primary);
        }

        .ngx-dnd-item {
            background-color: #ffffff;
            font-weight: bold;
            text-align: left;
            position: relative;
            cursor: default;
            display: flex;
            align-items: center;
            border: 1px solid transparent;


        }

        .ngx-dnd-item.gu-transit {
            border: 1px solid var(--color-light-gray);
        }
    }

    .item-handle {
        position: relative;
        padding: calc(var(--space-md) + 0.5rem);
        display: inline-flex;
        align-items: center;
        cursor: grabbing;

        &:before,
        &:after {
            content: url("data:image/svg+xml,%3Csvg version='1.1' id='Camada_1' focusable='false' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 64 317' style='enable-background:new 0 0 64 317;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E.st0%7Bfill:%23DDDDDD;%7D%3C/style%3E%3Cpath class='st0' d='M32,127c17.7,0,32,14.3,32,32s-14.3,32-32,32S0,176.7,0,159S14.3,127,32,127z M0,39c0,17.7,14.3,32,32,32 s32-14.3,32-32S49.7,7,32,7S0,21.3,0,39z M0,279c0,17.7,14.3,32,32,32s32-14.3,32-32s-14.3-32-32-32S0,261.3,0,279z'/%3E%3C/svg%3E");
            position: absolute;
            width: 3px;
            height: 16px;
        }

        &:before {
            left: 10px;
        }

        &:after {
            left: 16px;
        }
    }

    .element {
        flex: 1 1 auto;

        &:not(:first-child) {
            .conditional {
                display: inline-flex;
            }
        }

        //workaround
        .element {
            ngx-dnd-container {
                display: none;
            }
        }

        .field {
            label {
                font-size: var(--space-md);
                font-weight: normal;
                display: block;
            }

            .title {
                margin-bottom: var(--space-md);
                display: flex;
            }
            .radio {
                margin-bottom: var(--space-sm);
            }
        }        
    }
}

/*drag drop*/
.draggable {
    .element {
        > .button {
            border-radius: 5px;
            background-color: #ffffff;
            box-shadow: 0px 3px 0.5rem rgba(0, 0, 0, 0.08);
            font-weight: bold;
            text-align: left;
            padding: calc(var(--space-lg) - 0.5rem);
            padding-left: 0;
            margin-right: 0;
            margin-bottom: var(--space-md);
            position: relative;
            cursor: default;
        }
    }
}

//drag drop end ---------

.add-to-do{
    position: fixed;
    bottom: 70px;
    right: 70px;
    width: 70px;
    height: 70px;
    background: var(--color-primary);
    border-radius: 100px;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    i{
        margin: 0;
        font-size: 24px;
        color: var(--color-white);
    }
}

.modal-add-to-do{
    .header{
        text-align: center;
        font-weight: var(--font-bold);
        font-size: 20px;
        color: var(--color-primary);
    }
    .container-form{
        .container-field{
            padding: 10px 0;

            label{
                display: block;
                font-weight: var(--font-bold);
                font-size: 16px;
                padding-bottom: var(--space-sm);
                color: var(--color-primary);
            }

            input, textarea{
                width: 100%;
                padding: var(--space-sm);
                border-radius: 5px;
                border: 1px solid var(--color-primary);
                font-size: 14px;
                font-family: 'montserrat';
                font-weight: 500;
                
                &[type="color"]{
                    font-size: 50px;
                    padding: 0;
                    border: 0;
                    background: #fff;
                    height: 40px;
                    
                    ::-webkit-color-swatch {
                        border: none;
                        border-radius: 10px;
                        padding: 0;
                    }
                    ::-webkit-color-swatch-wrapper {
                        border: none;
                        border-radius: 10px;
                        padding: 0;
                    }
                }
            }

            textarea{
                height: 100px;
            }

            .invalid-feedback{
                padding-top: var(--space-sm);
                color: var(--color-red);
            }
            
        }

        button{
            width: 100%;
            margin: var(--space-lg) 0;
            height: 40px;
            border-radius: 5px;
            border: 2px solid var(--color-white);
            background: var(--color-primary);
            color: var(--color-white);
            font-weight: var(--font-bold);
            font-size: 16px;
            font-family: 'montserrat';
        }
    }
}